bin/
gen/
out/
# Local configuration file (sdk path, etc)
local.properties
.idea/
.gradle
build/
libs/

project.properties
projectFilesBackup/cccf.ods
gradle/
gradlew
gradlew.bat
/projectFilesBackup/
/dsCCFQuizGame.iml
/ant.properties
