<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dms.pastor.cccfQuizGame"

    android:installLocation="preferExternal">

    <compatible-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AppLauncher"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.About" />
        <activity
            android:name=".games.Quiz.QuizGame"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:noHistory="true" />
        <activity
            android:name=".games.Quiz.QuizResult"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name=".games.Quiz.CustomGameSetup"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name=".games.Adventure.AdventureIntro"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:noHistory="true" />

        <activity
            android:name=".games.Adventure.AdventureGame"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:noHistory="true" />
        <activity
            android:name=".games.Adventure.AdventureResult"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".UI.Preferences" />
        <activity android:name=".UI.CountryList" />

        <!-- Google Play Services -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>
</manifest>
